<div class="container-fluid">

  <div class="row align-items-start" style="padding-top: 50px;">

    <div class="col-2 text-left-heading">
        Qualification
    </div>

    <div class="col-10 box">

        <div class="text-right-nopadding">
          <ul style="list-style: none; line-height: 2;">
            <li>
              Clean Architecture
            </li>
            <li>
              Domain Driven Design
            </li>
            <li>
              Test Driven and Clean Code Development
            </li>
            <li>
              Build Automation and Development Tooling
            </li>
            <li>
              Deployment
            </li>
            <li>
              Integration Testing
            </li>
          </ul>
        </div>
        <div class="text-right">
          <app-profilegraph></app-profilegraph>
        </div>

    </div>

  </div>

  <div class="row align-items-start" style="padding-top: 50px;">
    <div class="col-2 text-left-heading">
      More
    </div>
    <div class="col-10 box">
      <div class="text-right-nopadding">
        <ul style="list-style: none; line-height: 2;">
          <li>
            My repositories on <a href="https://github.com/wgross" target="_blank">github</a>
          </li>
          <li>
            My profile on <a href="https://www.xing.com/profile/Wolfgang_Gross6" target="_blank" >Xing</a>.
          </li>
          <li>
            My profile on <a href="https://www.linkedin.com/in/wolfgang-gro%C3%9F-a53b2071" target="_blank">Linkedin</a>.
          </li>
        </ul>
      </div>
  </div>
</div>
