@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background: rgb(59, 59, 59);
  color:orange;
  margin: 0pt;
  font-family: "Lucida Console", "Courier", monospace;
}

.text-right {
  padding-top: 10px;
  color: white;
  font-size:small;
}

.text-right-nopadding {
  font-size:small;
  color: white;
}

/* .nav-link {
  color: orange;
} */

/* .nav-link:focus {
  color: orange;
} */

/* .nav-link:hover {
  color: rgba(255, 123, 0, 0.973);
} */

.text-left-heading {
  padding-top: 10px;
}

.box {
  box-sizing: border-box;
  border-left: 2px solid orange;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


